/* .main__container {
    flex: 1;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;

} */

.main__wholeNote {
    width: 90%;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;


}

.main__notelist>button {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;

    border-radius: 10px;
}

table {
    margin-top: 20px;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
}