.logout-btn {
    color:white;

    border: 1px solid white;
    border-radius: 5px;

    background-color: #2a9d8f;
    font-weight: bold;

    padding: 8px;
}

.logout-btn:hover, .logout-btn:focus {
    color:#e76f51;

    background-color: transparent;


    border: 1px solid #e76f51;;


}
