.login-page{
    width: 100%;
    height: 100%;

    background-color: #264653;

    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.login-page > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 200px;
    min-height: 200px;


    
    border: 2px solid white;
    background-color: #2a9d8f;

    margin-bottom: 10%;
    height: 25%;
    width: 25%;

    max-width: 250px;
    max-height: 250px;

    cursor: pointer;
}

.login-page > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: 4px solid white;
    background-color: #2a9d8f;
    color: #264653;


    margin-bottom: 10%;
    height: 25%;
    width: 25%;

    cursor: pointer;
}

.login-page > div:hover, .login-page > div:focus {
    border: 4px solid #e76f51;
    border-radius: 5px;

    color: #f4a261;
}

.login-page > div:active {
    background-color: #264653;
    border: 4px solid #e76f51;
    border-radius: 5px;

    color: #f4a261;
}


