.main__container {
    flex: 1;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main__notelist {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* Add Note button */
.addnote__button {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;

    border-radius: 10px;
}