
.email-title{
    padding-bottom: 25px;
}

hr{
    width: 100%;
    border: 1px solid black
}

.email__container {
    flex: 1;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 25px;

    height: 100%;
}

.email__container form select {
    cursor: pointer;
}

.email__inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.email__inputs label {
    padding-bottom: 5px;
}

.profile__container ul {
    border: 2px solid black;
    list-style-type: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;

}

.profile__container ul li {
    border: 1px solid grey;
    color: grey;

    border-radius: 5px;

    padding: 4px;
    cursor: pointer;

    margin-bottom: 5px;
}

.profile__container ul li:hover, .profile__container ul li:focus {
    border: 1px solid black;
    background-color: grey;
    color: white;

}

.profile__container ul > .prof_selected {
    background-color: white;
    color: black;
    border: 1px solid black;
}

#file_attachments{
    margin-bottom: 10px;
}

button {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: #2a9d8f;
    color: white;
}

button:hover, button:focus {
    border: 2px solid #e76f51;
    background-color: transparent;
    color: #e76f51;
}